/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  color: red;
  text-align: center;
  margin: 20px 0;
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #cc0000;
}

/* Table Styles */
.table-container {
  max-width: 100%;
  overflow-x: auto;
  margin: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

table th, table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

table th {
  background-color: red;
  color: white;
}

table td {
  background-color: #fff;
}

table tr:nth-child(even) td {
  background-color: #f4f4f4;
}

table td button {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

table td button:hover {
  background-color: #e31b0c;
}

/* Form Styles */
form {
  text-align: center;
  margin: 20px;
}

form label {
  font-weight: bold;
}

form input, form textarea {
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

form button:hover {
  background-color: #cc0000;
}

.page {
  display: none;
}
